<div id="section-solutions"class="container container-fixed-lg sm-gutter no-padding">
						<div class="row welcome sm-gutter d-flex flex-row">
							<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
								<div class="card card-default feature-1 align-bottom">
									<div class="card-content img"><img src="content/demo/feature-1.jpeg" alt="" /></div>
									<div class="card-header separator">
										<div class="card-title"><a href="">Solutions</a></div>
									</div>
									<div class="card-body">
										<div class="card-content">
											<h3><a href="">Cork</a></h3>
											<p>Tradition, sustainability, flexibility and beauty. Our spray cork products combine durable resins with cork to create a multi-purpose medium that can stand up to almost any condition, indoors or out.</p>
											<div class="d-grid gap-1">
												<button aria-label="" type="button" class="btn btn-xs btn-default btn-block btn-icon-right">Learn more</button>
												<div class="btn-group btn-block dropdown-success">
													<button aria-label="" class="btn dropdown-toggle btn-success btn-lg" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Buy A Cork Solution</button>
													<ul class="dropdown-menu full-width">
														<li><a class="dropdown-item" href="#">Sound Dampening</a></li>
														<a class="dropdown-item" href="#">Roofs</a>
														<a class="dropdown-item" href="#">Decks &amp; Patios</a>
														<a class="dropdown-item" href="#">Stairs</a>
														<a class="dropdown-item" href="#">Flooring</a>
														<a class="dropdown-item" href="#">Tub Surround</a>
														<a class="dropdown-item" href="#">Insulation</a>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="btn-group btn-group-vertical text-left full-width">
											<button class="btn btn-link">The best solution for commercial soundproofing.</button>
											<button class="btn btn-link">Weatherproof your deck with Cork.</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
								<div class="card card-default feature-1a align-bottom">
									<div class="card-content img"><img src="content/demo/feature-1a.jpeg" alt="" /></div>
									<div class="card-header separator">
										<div class="card-title"><a href="">Solutions</a></div>
									</div>
									<div class="card-body">
										<div class="card-content">
											<h3><a href="">Exterior Spray Cork</a></h3>
											<p>Cork has been used as a building material for centuries. Modern spray cork can be applied to nearly any existing  surface including stucco, steel, aluminum, wood, brick, vinyl, siding, shingles and more.</p>
											<div class="d-grid gap-1">
												<button aria-label="" type="button" class="btn btn-xs btn-default btn-block btn-icon-right">Learn more</button>
												<button aria-label="" class="btn btn-lg btn-success btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Buy Exterior Spray Cork</button>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="btn-group btn-group-vertical text-left full-width">
											<button class="btn btn-link">Update your vinyl siding with Exterior Spray Cork.</button>
											<button class="btn btn-link">Exterior Spray Cork extends roof lifespan.</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
								<div class="card card-default feature-2 align-bottom">
									<div class="card-content img"><img src="content/demo/feature-2.jpeg" alt="" /></div>
									<div class="card-header separator">
										<div class="card-title"><a href="">Solutions</a></div>
									</div>
									<div class="card-body">
										<div class="card-content">
											<h3><a href="">Micro-Cement</a></h3>
											<p>Modern, durable and beautiful, Dekorcrete microcement is an innovative mix of minerals and resins making it suitable for a number of applications.<br>&nbsp;</p>
											<div class="d-grid gap-1">
												<button aria-label="" type="button" class="btn btn-xs btn-default btn-block btn-icon-right">Learn more</button>
												<div class="btn-group btn-block dropdown dropdown-success">
													<button aria-label="" class="btn btn-lg dropdown-toggle btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Buy A Micro-Cement Solution</button>
													<div class="dropdown-menu full-width">
														<a class="dropdown-item" href="#">Flooring</a>
														<a class="dropdown-item" href="#">Wall Treatments</a>
														<a class="dropdown-item" href="#">Bathrooms</a>
														<a class="dropdown-item" href="#">Kitchens</a>
														<a class="dropdown-item" href="#">Tables &amp; more</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card-footer">
										<div class="btn-group btn-group-vertical text-left full-width">
											<button class="btn btn-link">Minimalist wall decor with Micro-Cement.</button>
											<button class="btn btn-link">Using Micro-Cement in furniture design.</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>